body {
  padding: 0;
  margin: 0;
}

#map-id,
body,
html {
  height: 100%;
}
.legend {
  background: white;
  /* padding: 10px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  /* line-height: 1.5; */
  line-height: 1.0;
}

.legend h4 {
  margin: 0 0 10px;
  font-size: 14px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-item:last-child {
  margin-bottom: 0;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border: 1px solid #000;
}
